body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration: none;
  color: #c40000;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.banner {
  margin: 0px 200px;
}
#pic_information {
  margin: 40px 20px;
}
#pic_information #dress {
  float: left;
  margin-left: 200px;
}
#pic_information #dress #big_img img {
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 1px solid #f2f2f2;
}
#pic_information #dress #min_img {
  width: 80%;
  margin: 0px auto;
}
#pic_information #dress #min_img img {
  width: 60px;
  height: 60px;
  border: 2px solid white;
}
#pic_information #dress #min_img img:hover {
  border: 2px solid black;
}
#information {
  margin-right: 200px;
  padding: 0px 20px;
  overflow: hidden;
}
#information #title {
  margin: 0px 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
#information #subhead {
  margin: 10px;
  font-size: 12px;
  color: #dd2727;
}
#information #juhuasuan {
  margin-top: 10px;
  text-align: center;
  line-height: 40px;
  color: white;
  background-color: #2da77a;
}
#information #juhuasuan .juhuasuan {
  font-size: 18px;
  font-family: 黑体;
  font-weight: bold;
}
#information #juhuasuan .count_down {
  font-weight: bold;
  color: #ffc057;
}
#information #price {
  height: 102px;
  padding: 10px;
  color: #666666;
  background-image: url(/img/site/priceBackground.png);
}
#information #price #ticket {
  margin-top: 5px;
}
#information #price #ticket img {
  width: 58px;
  height: 16px;
}
#information #price #original_cost {
  margin-top: 5px;
}
#information #price #original_cost span:first-child {
  display: inline-block;
  width: 68px;
  color: #999999;
}
#information #price #original_cost span:last-child {
  color: #333333;
  text-decoration: line-through;
}
#information #price #promotion_cost {
  margin-top: 5px;
}
#information #price #promotion_cost span:first-child {
  position: relative;
  left: 0;
  top: -10px;
  display: inline-block;
  width: 68px;
  color: #999999;
}
#information #price #promotion_cost .rmb {
  font-size: 18px;
  color: #c40000;
}
#information #price #promotion_cost span:last-child {
  font-size: 30px;
  font-weight: bold;
  color: #c40000;
}
#information #sal_eva {
  margin: 20px 0px;
  padding: 10px;
  border-top: 1px dotted #c9c9c9;
  border-bottom: 1px dotted #c9c9c9;
}
#information #sal_eva #sales,
#information #sal_eva #evaluate {
  display: inline-block;
  width: 49%;
  text-align: center;
  color: #999999;
}
#information #sal_eva #sales span:last-child,
#information #sal_eva #evaluate span:last-child {
  color: #c40000;
  font-weight: bold;
}
#information #sal_eva #sales {
  border-right: 1px solid #e5dfda;
}
#information #buy_number {
  color: #999999;
}
#information #buy_number #number input {
  width: 43px;
  height: 32px;
}
#information #buy_number #adjust {
  display: inline-block;
  width: 22px;
  height: 32px;
  vertical-align: top;
}
#information #buy_number #adjust .arrows {
  display: block;
  width: 20px;
  height: 14px;
  border: 1px solid #999;
  padding-top: 4px;
  text-align: center;
}
#information #buy_number #adjust .arrows img {
  display: inline-block;
  vertical-align: top;
}
#information #buy_number #adjust .arrows:hover {
  cursor: pointer;
}
#information #buy_number #adjust .mid {
  display: block;
  height: 4px;
}
#information #promise {
  margin: 20px 0px;
}
#information #promise span {
  color: #999999;
}
#information #promise a {
  color: #666666;
  text-decoration: none;
}
#information #buy_cart {
  margin: 20px 0px;
  text-align: center;
}
#information #buy_cart button {
  display: inline-block;
  margin: 0 10px;
  width: 180px;
  height: 40px;
}
#information #buy_cart #buy {
  border: 1px solid #c40000;
  font-size: 16px;
  color: #c40000;
  text-align: center;
  line-height: 40px;
  background-color: #ffeded;
}
#information #buy_cart #shopping_cart {
  border: 1px solid #c40000;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 40px;
  background-color: #c40000;
}
#information #buy_cart #shopping_cart .glyphicon {
  font-size: 12px;
  margin-right: 8px;
}
#pro_details {
  width: 790px;
  margin: 40px auto;
}
#pro_details .pro_head {
  border: 1px solid #dedfdf;
  border-left-width: 0;
}
#pro_details .pro_head span:hover {
  text-decoration: none;
  color: #c40000;
  cursor: pointer;
}
#pro_details .pro_head .select {
  position: relative;
  display: inline-block;
  width: 90px;
  border-left: 1px solid #cfbfb1;
  border-right: 1px solid#cfbfb1;
  font-weight: bold;
  color: #b10000;
  text-align: center;
  line-height: 46px;
}
#pro_details .pro_head .select::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 90px;
  height: 0;
  border: 1px solid #b00000;
}
#pro_details .pro_head .select::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  border: 5px solid;
  border-color: #b00000 transparent transparent;
}
#pro_details .pro_head .total_eva {
  padding: 0px 20px;
  border-right: 1px dotted #d2d2d2;
  color: #333;
}
#pro_details .pro_head .total_eva .num {
  color: #3355b9;
}
#pro_details #pro_para {
  padding: 40px;
  border: 1px solid #dfdfdf;
}
#pro_details #pro_para #parameters {
  margin-bottom: 20px;
  font-weight: bold;
  color: #999999;
}
#pro_details #pro_para .details {
  display: block;
  float: left;
  width: 220px;
  padding: 8px 0px;
  color: #666666;
}
#pro_details #pro_img img {
  display: block;
  width: 790px;
  margin: 20px 0px;
}
#add_eva {
  height: 1000px;
}
#add_eva #eva_context {
  padding-top: 50px;
}
#add_eva #eva_context .eva_description {
  width: 80%;
  margin: 5px 20px;
  color: #333;
}
#add_eva #eva_context .date {
  margin: 5px 20px 15px;
  color: #cccccc;
}
#add_eva #eva_context .user {
  float: right;
  width: 100px;
  margin: 5px 20px;
  padding: 10px 0px;
  color: #404040;
  text-align: left;
}
#add_eva #eva_context .user .anonymity {
  color: #999999;
}
